#app_chatbot_das {
  --font: Google Sans, Roboto, sans-serif;
  --background: white;
  --element-background: #F1F3F4;
  --component-background: white;
  --image-background: transparent;
  --text: #003169;
  --text-subtitle: #70757A;
  --text-secondary: #5F6368;
  --border: #003169;
  --accent: #4285F4;
  --shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.chatbotdas_html {
}

.message_bubble {
  border: 3px solid #f9cc25;
  font-family: Google Sans, Roboto, sans-serif;
  text-align: left;
  float: left;
  position: fixed;
  right: 142px;
  width: 206px;
  background: #003169;
  border-radius: 8px;
  padding: 2px 8px;
  padding-left: 20px;
  line-height: 12px;
  bottom: 3px;
  display: none;
  pointer-events: none;
  z-index: 9998;
}

.message_bubble p, .message_bubble span{
  margin: 16px 0px;
}

.message_bubble span{
  font-weight: normal;
  display: block;
}

.message_bubble::after{
  content: "";
  width: 30px;
  height: 40px;
  background: #003169;
  right: 0px;
  position: absolute;
  top: 20px;
  z-index: 1;
}

.message_bubble::before{
  content: "";
  width: 20px;
  height: 20px;
  background:  #003169;
  right: -11px;
  position: absolute;
  top: 27px;
  transform: rotate(45deg);
  border: 3px solid #f9cc25;
  z-index: 1;
}

.close_message_bubble{
  display: inline;
  right: 8px;
  position: absolute;
  top: -7px;
  cursor: pointer;
  pointer-events: all;
  z-index: 111111;
}

.chat-pop-up {
  background-size: contain;
  border-radius: 11px;
  bottom: 115px;
  box-shadow: 0 3px 6px 0 rgba(75, 74, 75, 0.2);
  opacity: 0;
  right: -5000px;
  position: fixed;
  transform: translatey(20px);
  transition: opacity 0.25s ease, transform 0.25s ease-out;
  width: 360px;
  z-index: 1000001;
  border: 2px solid #003169;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
  height: 80vh;
}

.chat-pop-up--heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.chat-pop-up a span {
  margin-right: 8px;
}

.toggle-chat {
  background: #ffffff;
  border: 2px solid #003169;
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(75, 74, 75, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 60px;
  bottom: 10px;
  right: 60px;
  padding: 10px;
  transition: width 0.3s ease-in-out, background 0.2s ease;
  outline: none;
  width: 60px;
  z-index: 100;
}

.toggle-chat.chat-is-open {
  flex-direction: column;
  width: 60px;
}

.open-chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-family: "Galano Grotesque Alt", "Open Sans", sans-serif;
  opacity: 1;
  transition: opacity 0.2s 0.2s ease-out;
  margin: 0 auto;
}

.toggle-chat.chat-is-open .open-chat {
  transition: none;
  opacity: 0;
}

.toggle-chat .close-chat {
  display: none;
  margin: 0 auto;
  opacity: 0;
  transform: rotate(-40deg);
}

.toggle-chat.chat-is-open .close-chat {
  display: block;
  margin: 0 auto;
  padding-top: 36px;
  opacity: 1;
  transform: rotate(0deg);
  transition: opacity 0.2s ease-out, transform 0.4s ease-out;
}

.chat-display-on {
  display: block !important;
}

.chat-visible {
  opacity: 1;
  right: 55px;
}

.chat_header_mobile{
  display: none;
}

.chat_header_mobile h1 {
  display: inline-block;
  margin: 0px 2px;
  font-size: 2em;
  color: white;
  font-family: Google Sans, Roboto, sans-serif;
  font-weight: bold;
}

.chat_header_mobile img {
  float: right;
  vertical-align: middle;
  margin-top: -6px;
  height: 45px;
  width: 45px;
}

@media (max-width: 450px) {
  .chat-pop-up.chat-visible {
    width: 100vw;
    top: 0;
    left: 0;
    border-radius: 0px;
    min-height: 100%;
    transform: translatey(0px);
  }
  .toggle-chat.chat-is-open{
    display: none;
  }
  .chat_header_mobile{
    background: #003169;
    color:white;
    font-family: Google Sans, Roboto, sans-serif;
    display: block;
    padding: 8px;
  }
}
